$tile-size: 12rem;

$main-field-size: 65%;
$card-browser-size: 15%;
$right-sidebar-size: 20%;

// set to 0px for false, 1px for true
$show-border: 1px;
$show-example-cards: 1px;
$show-field-cards: 1px;

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

html * {
  box-sizing: border-box;
}

#overlay {
  pointer-events: none;
}

#status {
  font-weight: bold;
  font-size: 30px;
}

table {
  position: absolute;
  border: 1px solid black;
  border-collapse: collapse;
}

// tr {
//   height: 10vh;
// }

// td {
//   width: 10vh; font-size: 40px; font-weight: bold
// }

.square {
  height: 6vh; width: 6vh
}

.whitetile {
  border: 1px solid black;
  background-color: #eeb772;
}

.blacktile {
  border: 1px solid black;
  background-color: chocolate;
}

div#field-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  div#playerone-hand, div#playertwo-hand, div#middle {
    display: flex;
  }
  
  div#playerone-hand, div#playertwo-hand {
    height: 18%;
    width: 40%;
    border: solid 1px black;
  }

  div#middle {
    height: 60%;
    width: 95%;
    margin: auto;
    border: solid $show-border black;
    flex-direction: row;
    justify-content: space-between;

    div#card-browser {
      display: flex;
      justify-content: center;
      align-items: center;
      width: $card-browser-size;
      border: solid $show-border black;

      div#showcased-card {
        aspect-ratio: 9 / 13;
        width: 90%;
        border: $show-example-cards solid black;
      }
    }

    div#field {
      width: $main-field-size;
      border: solid 1px black;

      div#playfield {
        max-height: 100%;
        max-width: 100%;
        display: flex;
        overflow: auto;

        div.row {
          display: flex;
          flex-direction: column;

          div.column {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: row;
            border: 1px solid black;
            min-width: $tile-size;
            min-height: $tile-size;

            > div {
              aspect-ratio: 9 / 13;
              width: 45%;
              border: $show-field-cards solid black;
            }
          }
        }
      }
    }

    div#right-sidebar {
      width: $right-sidebar-size;
      // border: solid 1px black;
      display: flex;
      flex-direction: column;

      div.column {
        height: 100%;
        width: 100%;
        display: flex;

        > div {
          display: flex;
          justify-content: center;
          align-items: center;
          text-transform: capitalize;
          font-size: 2vh;
        }
      }

      div#life-indicator, div#turn-indicator, div#stage-indicator, div#player-indicator, div#deck, div#die {
        border: $show-border solid black;
        width: 50%;
      }
    }
  }

  div#playerone-hand {
    margin: 0 auto 0 2.5%;
  }

  div#playertwo-hand {
    margin: 0 2.5% 0 auto;

    div.card {
      display: flex;
      flex-direction: column;
      height: 100%;
      aspect-ratio: 9 / 13;
      border: 0.5vh solid black;

      &.promoted {
        border: 0.5vh solid transparent;
        border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
        border-image-slice: 1;

        div.middle {
          img {
            border: 0.25vh solid transparent;
            border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
            border-image-slice: 1;
          }
        }
      }

      &.defender {
        div.top {
          div.cost {
            border-bottom: 0.25vh solid blue;
            border-right: 0.25vh solid blue;
          }
  
          div.speed {
            border-bottom: 0.25vh solid blue;
            border-left: 0.25vh solid blue;
          }

          div.name {
            color: blue;
            border-bottom: 0.25vh solid blue;
          }
        }
      }
      
      div.top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 1vh;

        div.cost {
          display: flex;
          border-bottom: 0.25vh solid black;
          border-right: 0.25vh solid black;
        }

        div.name {
          display: flex;
          border-bottom: 0.25vh solid black;

        }

        div.speed {
          display: flex;
          border-bottom: 0.25vh solid black;
          border-left: 0.25vh solid black;
        }
      }

      &.stunned {
        div.middle {
          // img {
            position: relative;
            &:after {
              content: "";
              position: absolute;
              z-index: 2;
              height: 127.27%;
              border-left: 0.25vh solid rgb(245, 129, 255);
              left: calc(50% - 0.25vh);
              transform: rotate(45deg);
            }

            &:before {
              content: "";
              position: absolute;
              z-index: 2;
              height: 127.27%;
              border-left: 0.25vh solid rgb(245, 129, 255);
              left: calc(50% - 0.25vh);
              transform: rotate(-45deg);
            }

            div.stun-counter {
              display: block;
              position: absolute;
              z-index: 3;
              font-size: 5vh;

            }

          // }
        }
      }

      div.middle {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.5vh;
        
        div.stun-counter {
          display: none;
        }

        img {
          aspect-ratio: 1/1;
          width: 9vh;
          border: 0.25vh solid black;
        }
      }

      div.bottom {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0.5vh;
        height: 100%;

        > div {
          font-size: 1vh;
        }

        div.health {
          
        }

        div.effect {
  
        }

        div.energy {

        }
      }
    }
  }
}